#card {
  border: 3px solid black;
  min-width: 400px;
  min-height: 200px;
  font-size: 30px;
  font-family: helvetica;
}

.card_header {
  margin-left: 10px;
}

.card_text {
  margin-top: 35px;
  text-align: center;
  font-style: italic;
}

.contact {
  margin-top: 35px;
  margin-right: 10px;
  text-align: right;
  font-style: bold;
}

img {
  width: 200px;
}

#flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.container {
  width: 100%;
}

ul > li {
  list-style: none;
}

button {
  color: green;
  background-color: salmon;
  width: 20%;
}

button:hover {
  background-color: green;
  color: salmon;
}

@media screen and (max-width: 800px) {
  #flex {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  #flex {
    grid-template-columns: 1fr;
  }
}
